body{
    background-color:#FFFAF0;
}

.headerLogo{
 display: flex;
align-items : center;
background-color: #fff2d8;

footer{
bottom:10px;
left:10px;
background-color: 	#FFFAF0;
 }
}
.footerLogo img{
width :110px;
height:110px;

}

.headerLogo img{
width :110px;
height:110px;;
}

.headerLogo h1{ 
font-size:28px;
color: #000000;
margin:0;
font-style: italic;
}
 .nav{
display:flex;
align-items: center;
gap:25px;
 }
.nav a{
    color:black;
    font-weight :bold;
    margin-left: 30px;
}

.nav a:hover{
    color:rgb(123, 123, 24);
}

/*.nav img{
 width: 30px;
 height: 30px;   
}*/

.search-bar{
    margin-left:60px;
    display:flex;
    align-items:right;
    gap:0px;
    height: 20px;
}

.search-bar input{
height: 25px;
width:160px;
padding: 10px 10px;
border:1px solid;
border-radius: 10px;
background-image: url("search-bar-01.png");
background-size: 18px 18px;
background-repeat: no-repeat;
background-position: right;
padding-left: 10px;
font-size: 14px;
}

.search-bar button{
    padding:20;
    cursor: pointer;
}
.search-bar img{
margin-left: 50px;
margin-bottom:50px;
width :40px;
height: 40px;
}
.breadcrumbs{
    font-size:.95rem ;
    margin:.75rem 0
}
.breadcrumbs ol{
    list-style: none;
    display:flex;
    flex-wrap: wrap;
    gap:.5rem;
    padding:0;
    margin:0;
}
.breadcrumbs li{
    display:inline-flex;
    align-items: center;
}
.breadcrumbs li:not(:last-child)::after{
    content:">";
    opacity: .8z;
    margin: 0  .25rem  .35rem;
    margin-bottom: 0px;
}
.breadcrumbs a{
    color:rgb(12, 11, 11); 
    text-decoration: none;
    font-style: italic;
   
}
.breadcrumbs a hover{
    text-decoration: underline;
}
.breadcrumbs .current{
    color:rgb(118, 118, 121);
       font-style: italic;
}